body{
    /* background-color: #6096B4; 
    */

    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
    background-size: cover;
    background-clip: content-box;
    border: 0px solid white;
    box-shadow: inset 0 0 0 10px #cfdff0;
    background: linear-gradient(-45deg, #fca6ac, #2176cc, #ff7d6e, #e8e7cb);
    background-size: 400% 400%;
    animation: gradient 60s ease infinite;
    
    overflow: auto;


    font-family: 'Satoshi', sans-serif;
    color: #FFFFFF;
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
p.pref{
    float: right;
}
a{
    width:fit-content;
    display: block;
    padding: 4px;
}
a:link{
    color:#FFFFFF;
}
a:visited {
    color: white;
}
a:hover {
    color: hotpink;
}
a:active {
    color: rgb(146, 146, 239);
  }
.preferences{
    display: block;
    float: right;
    font-size: 15px;
    text-align: center;
}
.button{
    visibility: hidden;
    margin-right: -40px;
    font-family: 'Satoshi', sans-serif;
    background-color: white;
    border: none;
    color: black;
    padding: 8px 8px;
    text-align: center;
    font-size: 16px;
}
.label{
    visibility: hidden;
    margin-right: -40px;
    font-size: 12px; 
    text-align:center; 
}
.label2{
    visibility: visible;
    margin-right: -40px;
    font-size: 12px; 
    text-align:center; 
}
.Hidden{
    visibility: visible;
    margin-right: -40px;
    font-family: 'Satoshi', sans-serif;
    background-color: white;
    border: none;
    color: black;
    padding: 8px 8px;
    text-align: center;
    font-size: 16px;
}

.Sight{
    visibility: visible;
    margin-right: -40px;
    font-family: 'Satoshi', sans-serif;
    background-color: white;
    border: none;
    color: black;
    padding: 8px 8px;
    text-align: center;
    font-size: 16px;
}
  .About {
    /* display: inline-block; */
    width: 75%;
    height: 35%;
    padding: 2px 9px;
    background-color:gray;
    float:right;
    position: relative;
    top: 30px;
    opacity: 60%
 }
 .box {
    background-color: white;
    opacity: 50%;
    color: black;
    padding: 5px 5px 5px 5px;
    border-radius: 10px;
    height: 49px;
    width: 22%;
    margin: 5px 1% 5px 1%;
    display: inline-block;
    position: absolute;
    transition: height 0.5s;
    -webkit-transition: height 0.5s;
    text-align: center;
    overflow: hidden;
    top:100px;
    right: 42%;

  }
  .box:hover {
    height: 240px;
  }
  .box2 {
    background-color: white;
    opacity: 50%;
    color: black;
    padding: 5px 5px 5px 5px;
    border-radius: 10px;
    height: 49px;
    width: 22%;
    margin: 5px 1% 5px 1%;
    display: inline-block;
    position: absolute;
    transition: height 0.5s;
    -webkit-transition: height 0.5s;
    text-align: center;
    overflow: hidden;
    top:100px;
    right: 14%;

  }
  .box2:hover {
    height: 240px;
  }
  .box3 {
    background-color: white;
    opacity: 50%;
    color: black;
    padding: 5px 5px 5px 5px;
    border-radius: 10px;
    height: 49px;
    width: 22%;
    margin: 5px 1% 5px 1%;
    display: inline-block;
    position: absolute;
    transition: height 0.5s;
    -webkit-transition: height 0.5s;
    text-align: center;
    overflow: hidden;
    top: 360px;
    right: 42%;
  }
  .box3:hover {
    height: 320px;
  }
  .box4 {
    background-color: white;
    opacity: 50%;
    color: black;
    padding: 5px 5px 5px 5px;
    border-radius: 10px;
    height: 49px;
    width: 22%;
    margin: 5px 1% 5px 1%;
    display: inline-block;
    position: absolute;
    transition: height 0.5s;
    -webkit-transition: height 0.5s;
    text-align: center;
    overflow: hidden;
    top: 360px;
    right: 14%;

  }
  .box4:hover {
    height: 320px;
  }
  a.boxlink{
    color:black;
    text-align:center;
    display: inline-block;

  }
  .smalltech h2{
    font-size: 20px;
  }
  .smalltech p{
    font-size: 15px;
  }
  a.buttonish{
    margin-right: -40px;
    font-family: 'Satoshi', sans-serif;
    background-color: white;
    border: none;
    color: black;
    padding: 8px 8px;
    text-align: center;
    font-size: 16px;
  }
